build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/poly2.o
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/poly.o
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_predefs.h
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_poly2.o
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_poly2.cpp
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/mainwindow.o
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/main.o
build-Polymorphism3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/Polymorphism3.exe
Polymorphism3/Polymorphism3.pro.user
*.user
build-ComboBox-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/
build-QSettings_proj3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/main.o
build-QtWidgetsCPP-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/renderarea.o
build-QtWidgetsCPP-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
build-QtWidgetsCPP-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/QtWidgetsCPP.exe
build-QSettings_proj3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_predefs.h
build-QSettings_proj3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_mainwindow.o
build-QSettings_proj3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-QSettings_proj3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/mainwindow.o
build-QSettings_proj3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/QSettings_proj3.exe
build-Signal_Slot_3-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
build-basic_Qt_tutorial-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
build-groundStation2018-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
QSettings_proj3/old_QSettings_proj3.pro
